.header-name-cell{
    font-weight: bold;
    font-size: medium;
    width: 300px;
}
.header-data-cell{
    font-weight: bold;
    font-size: medium;
    width: 100px;
}
.name-cell{
    width: 300px;
}
.data-cell{
    width: 100px;
    padding: 0px;
}
.side-bar{
    float: left;
    top:0;
    width: 300px;
    padding: 50px;
}
.main-area{
    width: 400px;
    height:800px;
    float: left;
}