<div>
    <div class="main-area" oncontextmenu="return false;">
        <mat-table [dataSource]="people">
        
            <ng-container matColumnDef="name">
                <div *matHeaderCellDef class="header-name-cell">Name</div>
                <div class="name-cell" *matCellDef="let people" (click)="openFamilyCircle(people.personID)">{{people.name + " " + people.surname}}</div>
            </ng-container>
            <ng-container matColumnDef="birthYear">
                <div *matHeaderCellDef class="header-data-cell">Born</div>
                <div class="data-cell" *matCellDef="let people">{{people.birthYear}} </div>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
            
            <mat-row  *matRowDef="let row; columns: displayedColumns" ></mat-row>
            
        </mat-table>
    </div>
</div>