
<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field >
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
            <mat-option *ngFor="let type of types" [value] = "type" >
              {{type}}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class = widerFormField>
      <mat-label>Custom Description</mat-label>
      <input matInput formControlName="customType">
  </mat-form-field>
    <mat-checkbox formControlName ="single">Single?</mat-checkbox>
    <br>
    <mat-form-field>
      <mat-label>Date of Event</mat-label>
        <input matInput [matDatepicker]="datePicker" formControlName="date">
        <mat-datepicker-toggle [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Date String</mat-label>
      <input matInput formControlName="dateString">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Suffix</mat-label>
    <input matInput formControlName="suffix">
</mat-form-field>
  <br>
    <mat-form-field class = widerFormField>
        <mat-label>Occupation</mat-label>
        <input type="text" matInput [formControl]="occupation" [matAutocomplete]="occupationAuto">
    </mat-form-field>
    <br>
    <mat-form-field class = widerFormField>
        <mat-label>Location</mat-label>
        <input type="text" matInput [formControl]="location" [matAutocomplete]="locationAuto">
    </mat-form-field>
    <br>
    <mat-form-field class = widerFormField>
      <mat-label>Place</mat-label>
      <input type="text" matInput [formControl]="place" [matAutocomplete]="placeAuto">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="imageType1">
            <mat-option *ngFor="let imageType of imageTypes" [value] = "imageType" >
              {{imageType}}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field class = widerFormField>
        <mat-label>Image</mat-label>
        <input type="text" matInput [formControl]="image1" [matAutocomplete]="imageAuto1">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="imageType2">
            <mat-option *ngFor="let imageType of imageTypes" [value] = "imageType" >
              {{imageType}}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field class = widerFormField>
        <mat-label>Image</mat-label>
        <input type="text" matInput [formControl]="image2" [matAutocomplete]="imageAuto2">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="imageType3">
            <mat-option *ngFor="let imageType of imageTypes" [value] = "imageType" >
              {{imageType}}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field class = widerFormField>
        <mat-label>Image</mat-label>
        <input type="text" matInput [formControl]="image3" [matAutocomplete]="imageAuto3">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="imageType4">
          <mat-option *ngFor="let imageType of imageTypes" [value] = "imageType" >
            {{imageType}}
          </mat-option>
        </mat-select>
  </mat-form-field>
  <mat-form-field class = widerFormField>
      <mat-label>Image</mat-label>
      <input type="text" matInput [formControl]="image4" [matAutocomplete]="imageAuto4">
  </mat-form-field>
    <mat-autocomplete #imageAuto1="matAutocomplete">
      <mat-option *ngFor="let modal of filteredModals1 | async" [value] = "modal" >
        {{modal}}
      </mat-option>
    </mat-autocomplete>
    <mat-autocomplete #imageAuto2="matAutocomplete">
      <mat-option *ngFor="let modal of filteredModals2 | async" [value] = "modal" >
        {{modal}}
      </mat-option>
    </mat-autocomplete>
    <mat-autocomplete #imageAuto3="matAutocomplete">
      <mat-option *ngFor="let modal of filteredModals3 | async" [value] = "modal" >
        {{modal}}
      </mat-option>
    </mat-autocomplete>
    <mat-autocomplete #imageAuto4="matAutocomplete">
      <mat-option *ngFor="let modal of filteredModals4 | async" [value] = "modal" >
        {{modal}}
      </mat-option>
    </mat-autocomplete>
    <mat-autocomplete #placeAuto="matAutocomplete">
      <mat-option *ngFor="let site of filteredPlaces | async" [value] = "site" >
        {{site}}
      </mat-option>
    </mat-autocomplete>
    <mat-autocomplete #locationAuto="matAutocomplete">
      <mat-option *ngFor="let location of filteredLocations | async" [value] = "location" >
        {{location}}
      </mat-option>
    </mat-autocomplete>
    <mat-autocomplete #occupationAuto="matAutocomplete">
      <mat-option *ngFor="let occupation of filteredOccupations | async" [value] = "occupation" >
        {{occupation}}
      </mat-option>
    </mat-autocomplete>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="submit()">Submit</button>
</mat-dialog-actions>


